@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}
body {
  background: url("images/bg-pattern-desktop.svg");
}

/* header */
header {
  display: flex;
  height: 80px;
  position: static;
  justify-content: center;
  align-items: center;
}

/* nav bar */
ul {
  list-style: none;
  display: flex;
  text-transform: uppercase;
}
ul li {
  padding: 10px;
  margin: 18px 20px 0 0;
}
ul li a {
  position: relative;
  text-decoration: none;
  color: #000;
}
ul li a:hover {
  text-decoration: none;
  color: #8c0d2f;
  transition: 0.9s;
}
ul li a:after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) scale(0);
  transform-origin: 50% 50%;
  width: 100%;
  height: 2px;
  background-color: #8c0d2f;
  transition: transform 250ms;
}
ul li a:hover:after {
  transform: translateX(-50%) scaleX(1);
}

/* home content */
.container1 {
  display: flex;
  padding: 20px;
  justify-content: center;
}
.card1 {
  text-align: center;
  /* font-size: 3em; */
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  color: #8c0d2f;
  font-family: "Josefin Sans", sans-serif;
  display: none;
}
#block2 {
  color: #000;
  /* font-size: 0.8em; */
}
.services {
  display: flex;
}
.imgService {
  width: 16rem;
  height: 16rem;
  border: none;
  border-radius: 5px;
}
.card {
  position: absolute;
}

.headings {
  display: flex;
  justify-content: center;
}
hr {
  width: 10%;
  border: #000 solid 1px;
}

/* about */
.mySkills {
  text-transform: none;
}

/* clients */
.counters {
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: center;
  align-items: center;
  height: 250px;
  background-color: #8c0d2f;
  border: none;
  border-radius: 5px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.counter {
  color: #fff;
  text-align: center;
  font-size: 30px;
}
.counterName {
  padding: 20px;
  color: #fff;
}

/* contact */
.form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 100px;
}
form > h3 {
  text-align: center;
}
label {
  margin-top: 10px;
}
input {
  border: none;
  border-bottom: #000 solid 1px;
  outline: none;
  padding: 5px 0 5px 0;
  background-color: transparent;
}
textarea {
  outline: none;
  border: none;
  border-bottom: #000 solid 1px;
  background-color: transparent;
}
#message{
  display: flex;
  flex-direction: column;
}

/* footer */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}
.ficons {
  padding: 10px;
  margin: 5px;
}
.ficons:hover {
  width: 50px;
}
#line {
  width: 30%;
  border: solid #000 1px;
}
