@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}
body {
  background: url("images/bg-pattern-desktop.svg");
}

/* header */
nav {
  display: flex;
  position: fixed;
  width: 100%;
  z-index: 3;
  height: 80px;
  justify-content: center;
  background-color: #fff;
  align-items: center;
  top: 0;
  bottom: 0;
}

/* nav bar */
nav ul {
  list-style: none;
  display: flex;
  text-transform: uppercase;
  justify-content: space-around;
}
nav ul li {
  padding: 15px;
}
nav ul li a {
  position: relative;
  text-decoration: none;
  color: #000;
}
nav ul li a:hover {
  text-decoration: none;
  color: #8c0d2f;
  transition: 0.9s;
}
nav ul li a:after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) scale(0);
  transform-origin: 50% 50%;
  width: 100%;
  height: 2px;
  background-color: #8c0d2f;
  transition: transform 250ms;
}
nav ul li a:hover:after {
  transform: translateX(-50%) scaleX(1);
}

/* home content */
#section1 {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.card1 {
  text-align: center;
  /* font-size: 3em; */
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  color: #8c0d2f;
  font-family: "Josefin Sans", sans-serif;
  /* display: none; */
}
#block2 {
  color: #000;
  /* font-size: 0.8em; */
}
.services {
  display: flex;
}
.imgService {
  width: 16rem;
  height: 16rem;
  border: none;
  border-radius: 5px;
}
.card {
  position: absolute;
}

.headings {
  display: flex;
  justify-content: center;
  padding-top: 100px;
}
hr {
  width: 10%;
  border: #000 solid 1px;
}
.subHeading {
  margin: 50px;
}

/* about */
.mySkills {
  list-style-image: url(./images/play.svg);
  columns: 2;
  list-style-position: inside;
}
.me {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: auto;
  align-items: center;
  padding-top: 40px;
}
.container2 {
  display: flex;
}
.card2 {
  padding: 20px;
  padding-bottom: 0;
  width: 50%;
}

/* work */
#section3 {
  text-align: center;
}
.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 50px;
}
.card3 {
  width: 18rem;
  height: 15rem;
  margin: 3px;
  position: relative;
  transition: 0.4s ease-out;
}
.card3:hover {
  transform: translateY(10px);
}
.card3:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(140, 13, 47, 1) 35%,
    rgba(140, 13, 47, 1) 100%
  );
  z-index: 2;
  transition: 0.5s all;
  opacity: 0;
}
.card3:hover:before {
  opacity: 0.8;
}
.card-body3 {
  position: relative;
  z-index: 3;
  color: #fff;
  padding: 0 30px;
  opacity: 0;
  transform: translateY(30px);
  transition: 0.5s all;
}
.card3:hover .card-body3 {
  opacity: 1;
  transform: translateY(20px);
}
.imgProj {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  position: absolute;
  top: 0;
  left: 0;
}
.btn-primary {
  border: none;
  padding-left: 5rem;
  padding-right: 5rem;
  background-color: #8c0d2f;
}
.btn-primary:hover {
  background-color: #d21446;
}
.card-text1 {
  text-align: left;
}

/* clients */
.clients {
  text-align: center;
}
.testimonials {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.card4 {
  padding: 8px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 3px 3px #f6a2b8;
  margin: 8px;
  height: 22rem;
}
h5 {
  text-align: left;
}
.imgClient {
  width: 17rem;
  height: 12rem;
  padding: 2px;
}
.card4:hover {
  box-shadow: 0px 0px 2px 2px #fbd0dc;
}
.counters {
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: center;
  align-items: center;
  background-color: #8c0d2f;
  border: none;
  border-radius: 5px;
  margin-top: 50px;
  margin-bottom: 20px;
  height: 250px;
}
.counter {
  color: #fff;
  text-align: center;
  font-size: 30px;
  padding: 10px;
}
.counterName {
  padding: 10px;
  color: #fff;
}

/* contact */
.form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
  margin-bottom: 100px;
}
form > h3 {
  text-align: center;
}
label {
  margin-top: 10px;
}
input {
  border: none;
  border-bottom: #000 solid 1px;
  outline: none;
  padding: 5px 0 5px 0;
  background-color: transparent;
}
textarea {
  outline: none;
  border: none;
  border-bottom: #000 solid 1px;
  background-color: transparent;
}
#message {
  display: flex;
  flex-direction: column;
}

/* footer */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}
.ficons {
  padding: 10px;
  margin: 5px;
}
.ficons:hover {
  width: 50px;
}
#line {
  width: 30%;
  border: solid #000 1px;
}
